layout {

    focus-ring {
        active-color   "#dec57b"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#dec57b"
        inactive-color "#15130e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#dec57b"
        inactive-color "#564505"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#dec57b80"
    }
}

recent-windows {
    highlight {
        active-color "#dec57b"
        urgent-color "#ffb4ab"
    }
}
