layout {

    focus-ring {
        active-color   "#e1c386"
        inactive-color "#15130f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e1c386"
        inactive-color "#15130f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e1c386"
        inactive-color "#584413"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e1c38680"
    }
}

recent-windows {
    highlight {
        active-color "#e1c386"
        urgent-color "#ffb4ab"
    }
}
