    layout {
        gaps 8 // Gap between windows
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        focus-ring {
            width 3
            active-color "#00ac89"
            inactive-color "#505050"
        }

        shadow {
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }


        struts {}
    }
